.container {
  background-color: palevioletred;
}

.card {
  background-color: pink;
}

.tr {
  background-color: darkgoldenrod;
}
/* <!-- Create a header for the page, color the background -->
    <div>
      <h1 id="return-header">Return Page</h1>
    </div> */
